@font-face {
  font-family: "Clash Display SemiBold";
  src: url("./assets/fonts/ClashDisplay/ClashDisplay-SemiBold.otf")
    format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter V Latin";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --text-font: "Inter V Latin", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
